.law-container {
    background-color: #585858;
    display: flex;
    align-items: center;
    width: 15rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;

    img{
        width: 80px;
        height: auto;
        margin-right: 2rem;
    }

}