<button (click)="prev()">Prev</button>

<div class="middle">
    <div class="list" 
    *ngFor="let definition of definitions; let i = index;"
    cdkDropList
    cdkDropListConnectedTo="lawsList"
    [cdkDropListData]="definitions"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListEnterPredicate]="definitionPredicate"
    >
        
        <div class="definition-container" [ngClass]="{'active1': currentDefinitionIndex == i}">
            <div class="title-holder">{{definition.answer}}</div>
            <!-- <div class="example-custom-placeholder" *cdkDragPlaceholder></div> -->
            <div class="definition-text">
                {{definition.text}}
            </div>
        </div>
        
    </div>
</div>

<button (click)="next()">Next</button>