app-definitions{

    display: grid;
    grid-template-columns: 1fr 780px 1fr;

    button{
        align-self: center;
        justify-self: center;
    }

    app-definition{
    
        // display: none;
        // &.active{
        //     display: flex;
        // }
    
    }
}

.definition-container {
    display: grid;
    grid-template-columns: 260px auto;
    gap: 20px;
    align-items: center;

    .title-holder{
        
        height: 100px;
        background-color: #ccc;
        border: 8px solid #78B516;
        border-style: dashed;
        border-radius: 20px;
        
    }
    .definition-text{
        font-size: 1.3rem;
        color: #fff;
    }

}