app-definitions{

    display: grid;
    grid-template-columns: 1fr 780px 1fr;

    button{
        align-self: center;
        justify-self: center;
    }

    app-definition{
    
        display: none;
        &.active{
            display: flex;
        }
    
    }
}

