.definition-container {
    display: grid;
    grid-template-columns: 260px auto;
    gap: 20px;
    align-items: center;

    .title-holder{
        
        height: 100px;
        background-color: #ccc;
        border: 8px solid #78B516;
        border-style: dashed;
        border-radius: 20px;
        
    }
    .definition-text{
        font-size: 1.3rem;
        color: #fff;
    }

}